
<div class="container">
    <div class="row">
        <div class="card-box">
            <ul>
                <li>
                    <div class="center text-section">
                        <span class="white-text">لطفا شماره کارت را وارد نمایید</span>
                        <input type="password" placeholder="شانزده رقم">
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>



<footer>
    <div class="container">
        <div class="row">
            <div class="footer-btn">
                <div class="col s3 m4" onclick="secondPage()">
                    <a class="waves-effect waves-light"><i class="material-icons left">&#xE314;</i><span>تایید</span></a>
                </div>
                <div class="col s3 m4" onclick="back()">
                    <a class="waves-effect waves-light prev"><i class="material-icons right">&#xE315;</i><span>بازگشت</span></a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="footer-line">
                <div class="col s2 m4 border">
                </div>
                <div class="col s3 m4">
                    <div class="footer-img">
                        <!-- <span>www.gssint.com</span> -->
                        <img src="assets/img/www.gssint.com.png" alt="">
                    </div>
                </div>
                <div class="col s2 m4 border">
                </div>
            </div>
        </div>
    </div>
</footer>
`

<script>


    function back() {
        $(".pnlChild").load("main-page.html");
    }
    function secondPage(){
        $(".pnlChild").load("block-card-page2.html");
    }
</script>
