
<div class="container">
    <div class="row">
        <div class="card-box">
            <ul>
                <li>
                    <div class="center text-section">
                        <span class="white-text">کارت مورد نظر مسدود شد</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>


<script>
    window.setTimeout(function () {
        $(".pnlChild").load("main-page.html");
    }, 3000);
</script>