
<div class="container">
    <div class="row">
        <div class="card-box">
            <ul>
                <li>
                    <div class="center text-section">
                        <p class="white-text">آیا مشخصات زیر را تایید می‌نمایید؟</p>
                        <div class="confirmed">
                            <span>نام و نام خانوادگی :شرکت جی اس اس </span>
                            <span>شماره کارت:۹۳۹۳۹۳۹۳۹۳۹۳۹ </span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>



<footer>
    <div class="container">
        <div class="row">
            <div class="footer-btn">
                <div class="col s3 m4" onclick="confirmPage()">
                    <a class="waves-effect waves-light"><i class="material-icons left">&#xE314;</i><span>تایید</span></a>
                </div>
                <div class="col s3 m4" onclick="eject()">
                    <a class="waves-effect waves-light"><span>انصراف</span></a>
                </div>
                <div class="col s3 m4" onclick="back()">
                    <a class="waves-effect waves-light prev"><i class="material-icons right">&#xE315;</i><span>بازگشت</span></a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="footer-line">
                <div class="col s2 m4 border">
                </div>
                <div class="col s3 m4">
                    <div class="footer-img">
                        <!-- <span>www.gssint.com</span> -->
                        <img src="assets/img/www.gssint.com.png" alt="">
                    </div>
                </div>
                <div class="col s2 m4 border">
                </div>
            </div>
        </div>
    </div>
</footer>
`

<script>

    function confirmPage() {
        $(".pnlChild").load("block-card-confirm.html");
    }
    function eject(){
        $(".pnlChild").load("main-page.html");
    }

    function back() {
        $(".pnlChild").load("block-card.html");
    }
</script>
