    <div class="container budget">
	 	<div class="row">
	 		<div class="col s12">
	 			<h3>موجودی شما :</h3>
	 		</div>
	 	</div>
	 	<div class="row">
	 		 <div class="col s12 m8 offset-m2 l8 offset-l2">
		        <div class="row budget">
		        	<div class="col s3">
		        		<img class="flag" src="assets/img/icon/usd.png" alt="">
		        	</div>
		        	<div class="col s3"><p>دلار($)</p></div>
		        	<div class="col s6"><p class="num">10 000</p></div>
		        </div>
			 </div>
		</div>
	</div>
	<footer>
        <div class="container">
            <div class="row">
                <div class="footer-btn">
                    <div class="col s3 m4" onclick="success()">
                        <a class="waves-effect waves-light">
                            <span>تائید&nbsp;&nbsp;</span>
                            <i class="material-icons">done</i>
                        </a>
                    </div>
                    <div class="col s3 m4" onclick="eject()">
                        <a class="waves-effect waves-light"><span>انصراف</span></a>
                    </div>
                    <div class="col s3 m4" onclick="back()">
                        <a class="waves-effect waves-light prev"><i class="material-icons right">&#xE315;</i><span>بازگشت</span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="footer-line">
                    <div class="col s2 m4 border">
                    </div>
                    <div class="col s3 m4">
                        <div class="footer-img">
                            <!-- <span>www.gssint.com</span> -->
                            <img src="assets/img/www.gssint.com.png" alt="">
                        </div>
                    </div>
                    <div class="col s2 m4 border">
                    </div>
                </div>
            </div>
        </div>
    </footer>

<script type="text/javascript">
function receipt(){
	$(".pnlChild").load("receipt.html");
}
function back(){
	$(".pnlChild").load("services.html");
}
function eject(){
	$(".pnlChild").load("get-card.html");
}
function success(){
	$(".pnlChild").load("wantToContinue.html");
}
</script>
