
<div class="container">
    <div class="row">
        <div class="card-box">
        <ul>
            <li>
                <div class="center text-section">
                    <span class="white-text">لطفا رمز جدید خود را وارد نمایید</span>
                    <input type="password" placeholder="چهار رقم" maxlength="4">
                </div>
            </li>
            <li>
                <div class="center text-section">
                    <span class="white-text">لطفا رمز جدید خود را مجددا وارد نمایید</span>
                    <input type="password" placeholder="چهار رقم" maxlength="4">
                </div>
            </li>
        </ul>
        </div>
    </div>
</div>



<footer>
    <div class="container">
        <div class="row">
            <div class="footer-btn">
                <div class="col s3 m4" onclick="confirm()">
                    <a class="waves-effect waves-light"><i class="material-icons left">&#xE314;</i><span>تایید</span></a>
                </div>
                <div class="col s3 m4" onclick="eject()">
                    <a class="waves-effect waves-light"><span>انصراف</span></a>
                </div>
                <div class="col s3 m4" onclick="back()">
                    <a class="waves-effect waves-light prev"><i class="material-icons right">&#xE315;</i><span>بازگشت</span></a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="footer-line">
                <div class="col s2 m4 border">
                </div>
                <div class="col s3 m4">
                    <div class="footer-img">
                        <!-- <span>www.gssint.com</span> -->
                        <img src="assets/img/www.gssint.com.png" alt="">
                    </div>
                </div>
                <div class="col s2 m4 border">
                </div>
            </div>
        </div>
    </div>
</footer>
`

<script>

    function confirm(){
        $(".pnlChild").load("first-pass-changed-confirm.html");
    }
    function eject(){
        $(".pnlChild").load("get-card.html");
    }

    function back() {
        $(".pnlChild").load("services.html");
    }

</script>
