<div class="container">
    <div class="row">
        <div class="charge-box">
            <div class="center text-section">
                <ul class="charges">
                    <li>
                        <div class="col s12 text-section">
                            <h2 class="white-text">آیا اطلاعات زیر را تایید میکنید؟</h2>
                        </div>
                    </li>
                
                    <li>
                        <div class="col s12 text-section">
                            <div class="white-text money">
                                <p>مبلغ</p><p>۱۰،۰۰۰ ریال</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<footer>
    <div class="container">
        <div class="row">
            <div class="footer-btn">
                <div class="col s3 m4" onclick="success()">
                    <a class="waves-effect waves-light"><i class="material-icons left">&#xE314;</i><span>تایید</span></a>
                </div>
                <div class="col s3 m4" onclick="eject()">
                    <a class="waves-effect waves-light"><span>انصراف</span></a>
                </div>
                <div class="col s3 m4" onclick="back()">
                    <a class="waves-effect waves-light prev"><i class="material-icons right">&#xE315;</i><span>بازگشت</span></a>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="footer-line">
                <div class="col s2 m4 border">
                </div>
                <div class="col s3 m4">
                    <div class="footer-img">
                        <!-- <span>www.gssint.com</span> -->
                        <img src="assets/img/www.gssint.com.png" alt="">
                    </div>
                </div>
                <div class="col s2 m4 border">
                </div>
            </div>
        </div>
    </div>
</footer>

<script type="text/javascript">
    function success() {
      $(".pnlChild").load("success.html");
  }
  function back() {
      $(".pnlChild").load("charge-select-sim.html");
  }
  function eject() {
      $(".pnlChild").load("get-card.html");
  }
</script>