<div class="container">
    <div class="row">
        <div class="charge-box">
            <div class="center text-section">
                <ul class="charges">
                    <li>
                        <div class = "button-wrap">
                            <button class = "rad-button light gradient" onclick="hamrahaval()">شارژ همراه اول</button>
                        </div>
                    </li>
                    <li>
                        <div class = "button-wrap">
                            <button class = "rad-button light gradient" onclick="irancell()">شارژ ایرانسل</button>
                        </div>
                    </li>
                    <li>
                        <div class = "button-wrap">
                            <button class = "rad-button light gradient" onclick="rightel()">شارژ رایتل</button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


<footer>
    <div class="container">
        <div class="row">
            <div class="footer-btn">
                <div class="col s3 m4" onclick="eject()">
                    <a class="waves-effect waves-light"><span>انصراف</span></a>
                </div>
                <div class="col s3 m4" onclick="back()">
                    <a class="waves-effect waves-light prev"><i class="material-icons right">&#xE315;</i><span>بازگشت</span></a>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="footer-line">
                <div class="col s2 m4 border">
                </div>
                <div class="col s3 m4">
                    <div class="footer-img">
                        <!-- <span>www.gssint.com</span> -->
                        <img src="assets/img/www.gssint.com.png" alt="">
                    </div>
                </div>
                <div class="col s2 m4 border">
                </div>
            </div>
        </div>
    </div>
</footer>

<script type="text/javascript">
  function back() {
      $(".pnlChild").load("services.html");
  }
  function eject() {
      $(".pnlChild").load("get-card.html");
  }
  function hamrahaval() {
      $(".pnlChild").load("charge-select-sim.html");
  }
  function irancell() {
      $(".pnlChild").load("charge-select-sim.html");
  }
  function rightel() {
      $(".pnlChild").load("charge-select-sim.html");
  }
</script>