<div class="container">
    <div class="row">
        <div class="charge-box">
            <div class="text-section multi">
                <h2 class="white-text center">شارژ ایرانسل</h2>
                
                <div class="multiple-charge-box">
                    <div class="col s6">
                        <ul class="charges">
                            <li>
                                <button onclick="confirm()">۱۰،۰۰۰ ریال</button>
                            </li>
                            <li>
                                <button onclick="confirm()">۲۰،۰۰۰ ریال</button>
                            </li>
                            <li>
                                <button onclick="confirm()">۵۰،۰۰۰ ریال</button>
                            </li>
                        </ul>
                    </div>
                    <div class="col s6">
                        <ul class="charges">
                            <li>
                                <button onclick="confirm()">۱۰۰،۰۰۰ ریال</button>
                            </li>
                            <li>
                                <button onclick="confirm()">۲۰۰،۰۰۰ ریال</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<footer>
    <div class="container">
        <div class="row">
            <div class="footer-btn">
                <div class="col s3 m4" onclick="eject()">
                    <a class="waves-effect waves-light"><span>انصراف</span></a>
                </div>
                <div class="col s3 m4" onclick="back()">
                    <a class="waves-effect waves-light prev"><i class="material-icons right">&#xE315;</i><span>بازگشت</span></a>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="footer-line">
                <div class="col s2 m4 border">
                </div>
                <div class="col s3 m4">
                    <div class="footer-img">
                        <!-- <span>www.gssint.com</span> -->
                        <img src="assets/img/www.gssint.com.png" alt="">
                    </div>
                </div>
                <div class="col s2 m4 border">
                </div>
            </div>
        </div>
    </div>
</footer>

<script type="text/javascript">
  function back() {
      $(".pnlChild").load("charge-sim.html");
  }
  function eject() {
      $(".pnlChild").load("get-card.html");
  }
  function confirm() {
      $(".pnlChild").load("charge-accept.html");
  }
</script>