

    <div class="container">
        <div class="row">
            <div class="card-box">
                <div class="col s6 text-section">
                    <span class="white-text">لطفا پول خود را در دستگاه قرار دهید</span>
                </div>
                <div class="col s6 img-section">
                    <img src="assets/img/put-card.png" alt="">
                </div>
            </div>
        </div>
    </div>


    <footer>
        <div class="container">
            <div class="row">
                <div class="footer-btn">
                    <div class="col s3 m4" onclick="depositeResult()">
                        <a class="waves-effect waves-light"><i class="material-icons left">&#xE314;</i><span>تایید</span></a>
                    </div>
                    <div class="col s3 m4" onclick="eject()">
                        <a class="waves-effect waves-light"><span>انصراف</span></a>
                    </div>
                    <div class="col s3 m4" onclick="services()">
                        <a class="waves-effect waves-light prev"><i class="material-icons right">&#xE315;</i><span>بازگشت</span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="footer-line">
                    <div class="col s2 m4 border">
                    </div>
                    <div class="col s3 m4">
                        <div class="footer-img">
                            <!-- <span>www.gssint.com</span> -->
                            <img src="assets/img/www.gssint.com.png" alt="">
                        </div>
                    </div>
                    <div class="col s2 m4 border">
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <script type="text/javascript">
        function depositeResult() {
             $(".pnlChild").load("deposit-result.html");
        }
          function eject() {
            $(".pnlChild").load("get-card.html");
        }
          function services() {
            $(".pnlChild").load("services.html");
        }


    </script>
