<div class="container">
    <div class="row centered" id="examples">
        <table class="centered bordered striped deposit-box">
            <tbody>
                <thead>
                    <tr>
                        <th data-field="id">تعداد</th>
                        <th data-field="name">ارزش اسکناس</th>
                        <th data-field="price">واحد پول</th>
                    </tr>
                </thead>
            </tbody>
        </table>
        <div class="table-scroll" id="content-rd">
            <table class="centered bordered striped deposit-box">
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>2 <i class="fa fa-gbp" aria-hidden="true"></i></td>
                        <td>پوند <img src="assets/img/icon/gbp.png" alt=""></td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>5 <i class="fa fa-eur" aria-hidden="true"></i></td>
                        <td>یورو <img src="assets/img/icon/eur.png" alt=""></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>10 <i class="fa fa-try" aria-hidden="true"></i></td>
                        <td>لیر <img src="assets/img/icon/try.png" alt=""></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>10 <i class="fa fa-jpy" aria-hidden="true"></i></td>
                        <td>یوآن <img src="assets/img/icon/jpy.jpg" alt=""></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>10 <i class="fa fa-usd" aria-hidden="true"></i></td>
                        <td>دلار <img src="assets/img/icon/usd.png" alt=""></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>10 ﷼</td>
                        <td>ریال <img src="assets/img/icon/ir.jpg" alt=""></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <table class="centered bordered striped deposit-box">
            <tbody>
                <tr class="total">
                    <td></td>
                    <td><span>جمع کل: </span><i class="fa fa-usd" aria-hidden="true"></i> 50</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<footer>
    <div class="container">
        <div class="row">
            <div class="footer-btn">
                <div class="col s3 m4" onclick="success()">
                    <a class="waves-effect waves-light"><i class="material-icons left">&#xE314;</i><span>تایید</span></a>
                </div>
                <div class="col s3 m4" onclick="eject()">
                    <a class="waves-effect waves-light"><span>انصراف</span></a>
                </div>
                <div class="col s3 m4" onclick="back()">
                    <a class="waves-effect waves-light prev"><i class="material-icons right">&#xE315;</i><span>بازگشت</span></a>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="footer-line">
                <div class="col s2 m4 border"></div>
                <div class="col s3 m4">
                    <div class="footer-img">
                        <!-- <span>www.gssint.com</span> -->
                        <img src="assets/img/www.gssint.com.png" alt="">
                    </div>
                </div>
                <div class="col s2 m4 border">
                </div>
            </div>
        </div>
    </div>
</footer>


<script type="text/javascript">
    function success() {
      $(".pnlChild").load("success.html");
  }
  function back() {
      $(".pnlChild").load("services.html");
  }
  function eject() {
      $(".pnlChild").load("get-card.html");
  }
</script>