<!--  -->
<div class="container">
    <div class="row">
        <div class="card-box">
            <div class="col s3 text-section">
                <ul class="services">
                    
                </ul>
            </div>

            <div class="col s6 text-section">
                <span class="">لطفا شناسه پرداخت خود را وارد کنید</span>
                <input class="z-depth-5" type="text">
            </div>

            <div class="col s3 text-section">
                <ul class="services">
                    
                </ul>
            </div>
        </div>
    </div>
</div>

	    <footer>
        <div class="container">
            <div class="row">
                <div class="footer-btn">
                    <div class="col s3 m4" onclick="receipt()">
                        <a class="waves-effect waves-light"><i class="material-icons left">&#xE314;</i><span>تایید</span></a>
                    </div>
                    <div class="col s3 m4" onclick="eject()">
                        <a class="waves-effect waves-light"><span>انصراف</span></a>
                    </div>
                    <div class="col s3 m4" onclick="back()">
                        <a class="waves-effect waves-light prev"><i class="material-icons right">&#xE315;</i><span>بازگشت</span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="footer-line">
                    <div class="col s2 m4 border">
                    </div>
                    <div class="col s3 m4">
                        <div class="footer-img">
                            <!-- <span>www.gssint.com</span> -->
                            <img src="assets/img/www.gssint.com.png" alt="">
                        </div>
                    </div>
                    <div class="col s2 m4 border">
                    </div>
                </div>
            </div>
        </div>
    </footer>

<script type="text/javascript">
function receipt(){
	$(".pnlChild").load("success.html");
}
function back(){
	$(".pnlChild").load("enterBillCode.html");
}
function eject(){
	$(".pnlChild").load("get-card.html");
}
// window.setTimeout(function () {
//     $(".pnlChild").load("passBillInfo.html");
// }, 3000);
</script>
