<div class="container">
    <div class="row">
        <div class="card-box">
            <ul>
                <li>
                    <div class="center text-section">
                        <span class="white-text">تغییر رمز با موفقیت انجام شد</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>


<script type="text/javascript">
    window.setTimeout(function () {
        $(".pnlChild").load("change-pass-receipt.html");
    }, 3000);
</script>
