   
    <div class="container">
        <div class="row">
            <div class="card-box">
                <div class="col s6 text-section">
                    <span class="white-text">لطفا کارت خود را بردارید</span>
                </div>
                <div class="col s6 img-section">
                    <img src="assets/img/put-card.png" alt="">
                </div>
            </div>
        </div>
    </div>


  <script>
      window.setTimeout(function () {
                $(".pnlChild").load("main-page.html");
            }, 3000);
    </script>