
<div class="container">
    <div class="row">
            <p class="waiting-text">شکیبا باشید</p>
            <div class="loader-box">
                <span class="dots"></span>
                <span class="dots"></span>
                <span class="dots"></span>
                <span class="dots"></span>
                <span class="dots"></span>
                <span class="dots"></span>
                <span class="dots"></span>
                <span class="dots"></span>
                <span class="dots"></span>
                <span class="dots"></span>
            </div>
        </div>
    </div>

    <script>
      window.setTimeout(function () {
        $(".pnlChild").load("password.html");
    }, 5000);
    </script>
    
