
<div class="container">
	<div class="row">
		<div class="menu">
			<div class="btn trigger waves-effect waves-light center-box">
				<a href="#" class="shiny">
				  	<i class="shiny"></i>
					<p class="firstPageMainButton">
						خدمات بانکی
					</p>
				</a>
			</div>
			<div class="icons">
				<div class="rotater">
					<div class="btn btn-icon waves-effect waves-light center-box" onclick="cardReader()">
						<span>خدمات با کارت</span>
					</div>
				</div>
				<div class="rotater">
					<div class="btn btn-icon waves-effect waves-light center-box" onclick="withOutCard()">
						<span>خدمات بدون کارت</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



<footer>
	<div class="footer-main-page">
		<div class="fixed-action-btn vertical ">
			<a class="btn-floating btn-large">
				<img src="assets/img/icon/ir.jpg" alt="" id="change-lang">
			</a>
			<ul>
				<li><a class="btn-floating darken-1"><img  id="gbp-lang" src="assets/img/icon/gbp.png" alt=""></a></li>
				<li><a class="btn-floating"><img  id="ir-lang" src="assets/img/icon/ir.jpg" alt=""></a></li>
			</ul>
		</div>
		<div class="fixed-action-btn click-to-toggle">
			<a href="" class="btn-floating btn-large">?</a>
		</div>
	</div>
</footer>





<script>
    function withOutCard(){
        $(".pnlChild").load("withOutCard-menu.html");
    }
    function cardReader()
    {
        $(".pnlChild").load("put-card.html");
    }
    $(document).ready(function() {
        $(".trigger").click(function() {
            $(".menu").toggleClass("active");
        });

        //change language
        $('#ir-lang').click(function(){
            $("#change-lang").attr("src","assets/img/icon/ir.jpg");
        });
        $('#gbp-lang').click(function(){
            $("#change-lang").attr("src","assets/img/icon/gbp.png");
        });

    });
</script>
