<div class="container">
    <div class="row">
        <div class="card-box">
            <div class="col s6 text-section">
                <span class="white-text">دستگاه در حال شمارش وجه می باشد</span>
            </div>
            <div class="col s6 img-section">
                <img src="assets/img/receipt.png" alt="">
            </div>
        </div>
    </div>
</div>

<script>
    window.setTimeout(function () {
        $(".pnlChild").load("get-money.html");
    }, 3000);
</script>

