<!--  -->
<div class="container billInfo">
    <div class="row">
        <div class="card-box">
            <div class="col s2 text-section">
                <ul class="services">
                    
                </ul>
            </div>

            <div class="col s8 text-section">
                <span class="">تایید اطلاعات قبض</span><br>
                  <table>
                    <tbody>
                      <tr>
                        <td>شناسه قبض</td>
                        <td>3545431/5333</td>
                      </tr>
                      <tr>
                        <td>به نام</td>
                        <td>علی رضایی</td>
                      </tr>
                      <tr>
                        <td>مبلغ قابل پرداخت</td>
                        <td>220 660 450 ریال</td>
                      </tr>
                    </tbody>
                </table>
            </div>

            <div class="col s2 text-section">
                <ul class="services">
                    
                </ul>
            </div>
        </div>
    </div>
</div>

        <footer>
        <div class="container">
            <div class="row">
                <div class="footer-btn">
                    <div class="col s3 m4" onclick="success()">
                        <a class="waves-effect waves-light">
                            <span>تایید&nbsp;&nbsp;</span>
                            <i class="material-icons left">done</i>
                        </a>
                    </div>
                    <div class="col s3 m4" onclick="eject()">
                        <a class="waves-effect waves-light"><span>انصراف</span></a>
                    </div>
                    <div class="col s3 m4" onclick="back()">
                        <a class="waves-effect waves-light prev"><i class="material-icons right">&#xE315;</i><span>بازگشت</span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="footer-line">
                    <div class="col s2 m4 border">
                    </div>
                    <div class="col s3 m4">
                        <div class="footer-img">
                            <!-- <span>www.gssint.com</span> -->
                            <img src="assets/img/www.gssint.com.png" alt="">
                        </div>
                    </div>
                    <div class="col s2 m4 border">
                    </div>
                </div>
            </div>
        </div>
    </footer>

<script type="text/javascript">
function receipt(){
    $(".pnlChild").load("receipt.html");
}
function back(){
    $(".pnlChild").load("services.html");
}
function eject(){
    $(".pnlChild").load("get-card.html");
}
function success(){
    $(".pnlChild").load("success.html");
}
</script>
