<!--  -->
<div class="container">
    <div class="row">
        <div class="card-box">
            <div class="col s3 text-section">
                
            </div>

            <div class="col s6 text-section">
                <span class="">لطفا خدمات مورد نظر را انتخاب کنید</span>
                <ul class="services">
                    <li onclick="commonBill()">
                        <div class = "button-wrap">
                            <button class = "rad-button light gradient">قبض عمومی (آب، برق و ...)</button>
                        </div>
                    </li>
                    <li onclick="policeBill()">
                        <div class = "button-wrap">
                            <button class = "rad-button light gradient">جرائم راهنمایی و رانندگی</button>
                        </div>
                    </li>
                    <li onclick="insuranceBill()">
                        <div class = "button-wrap">
                            <button class = "rad-button light gradient">قبض سازمان تامین اجتماعی</button>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="col s3 text-section">
                <ul class="services">
                    
                </ul>
            </div>
        </div>
    </div>
</div>

	    <footer>
        <div class="container">
            <div class="row">
                <div class="footer-btn">
                    <div class="col s3 m4" onclick="eject()">
                        <a class="waves-effect waves-light"><span>انصراف</span></a>
                    </div>
                    <div class="col s3 m4" onclick="back()">
                        <a class="waves-effect waves-light prev"><i class="material-icons right">&#xE315;</i><span>بازگشت</span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="footer-line">
                    <div class="col s2 m4 border">
                    </div>
                    <div class="col s3 m4">
                        <div class="footer-img">
                            <!-- <span>www.gssint.com</span> -->
                            <img src="assets/img/www.gssint.com.png" alt="">
                        </div>
                    </div>
                    <div class="col s2 m4 border">
                    </div>
                </div>
            </div>
        </div>
    </footer>

<script type="text/javascript">
function back(){
	$(".pnlChild").load("services.html");
}
function eject(){
	$(".pnlChild").load("get-card.html");
}
function commonBill() {
    $(".pnlChild").load("enterBillCode.html");   
}
function policeBill() {
    $(".pnlChild").load("enterBillCode.html");   
}
function insuranceBill() {
    $(".pnlChild").load("enterBillCode.html");   
}
</script>
