<div class="container qpayment">
    <div class="row">
        <div class="col s12">
            <h3 class="white-text">پرداخت قسط</h3>
        </div>
    </div>

    <div class="row">
        <div class="col s2">
            <p class="white-text">کد شعبه</p>
            <input class="z-depth-5" type="text" maxlength="4">
        </div>
        <div class="col s1">
            <p class="white-text">نوع</p>
            <input class="z-depth-5" type="text" maxlength="3">
        </div>
        <div class="col s8">
            <p class="white-text">شماره مشتری</p>
            <input class="z-depth-5" type="text" maxlength="8">
        </div>
        <div class="col s1">
            <p class="white-text">سریال</p>
            <input class="z-depth-5" type="text" maxlength="1">
        </div>
    </div>

    <h5 class="white-text center">پس از وارد کردن شماره هر قسمت دکمه تائید را فشار دهید</h5>
</div>



<footer>
    <div class="container">
        <div class="row">
            <div class="footer-btn">
                <div class="col s3 m4" onclick="goToPassQPaymentInfo()">
                    <a class="waves-effect waves-light">
                        <span>تائید&nbsp;&nbsp;</span>
                        <i class="material-icons">done</i>
                    </a>
                </div>
                <div class="col s3 m4" onclick="eject()">
                    <a class="waves-effect waves-light"><span>انصراف</span></a>
                </div>
                <div class="col s3 m4" onclick="goTotranslate_menu()">
                    <a class="waves-effect waves-light prev"><i class="material-icons right">&#xE315;</i><span>بازگشت</span></a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="footer-line">
                <div class="col s2 m4 border">
                </div>
                <div class="col s3 m4">
                    <div class="footer-img">
                        <!-- <span>www.gssint.com</span> -->
                        <img src="assets/img/www.gssint.com.png" alt="">
                    </div>
                </div>
                <div class="col s2 m4 border">
                </div>
            </div>
        </div>
    </div>
</footer>

<script>
    function goToPassQPaymentInfo(){
        $(".pnlChild").load("pass-payment-info.html");
    }
    function eject(){
        $(".pnlChild").load("get-card.html");
    }
    function receipt(){
        $(".pnlChild").load("receipt.html");
    }
    function goTotranslate_menu(){
        $(".pnlChild").load("translate-menu.html");
    }

    $('input').keyup(function(){
        if($(this).val().length==$(this).attr("maxlength")){
            $(this).closest('div').next().find(':input').first().focus();
        }
    });
</script>