
    <div class="container">
        <div class="row">
            <div class="card-box">
                <div class="col s6 text-section">
                    <span class="white-text put">لطفا کارت خود را وارد نمایید</span>
                </div>
                <div class="col s6 img-section">
                    <img src="assets/img/put-card.png" alt="">
                </div>
            </div>
        </div>
    </div>


    <script>
      window.setTimeout(function () {
                $(".pnlChild").load("loader.html");
            }, 3000);
    </script>