
    <div class="container">
        <div class="row">
            <div class="card-box">
                <div class="col s12 text-section">
                    <span class="white-text" style="direction:rtl">آیا مایل به چاپ رسید می باشید؟</span>
                </div>
            </div>
        </div>
    </div>

      <script>
      window.setTimeout(function () {
                $(".pnlChild").load("receipt.html");
            }, 3000);
    </script>

