<style>
body {
    overflow:hidden;
}
.content_div {
    height:80%;
    left:-1000px;
    width:100%;
    -webkit-animation:slide_in 800ms ease-out forwards;
    position:absolute;
    box-sizing:border-box;
}
.title {
    font-size:50px;
    text-align:center;
}
.nav {
    margin-left:20px;
}
@-webkit-keyframes slide_in {
    0% {
        left:-1000px;
    }
    100% {
        left:0px;
    }
}
</style>
                <div class="content_div">
<div class="container">
    <div class="row">
        <div class="card-box">
            <div class="col s3 text-section">
                
            </div>

            <div class="col s6 text-section">
                <span class="">لطفا انتخاب کنید</span><br>
                <ul class="services">
                    <li onclick="">
                        <div class = "button-wrap">
                            <button class = "rad-button light gradient cbutton cbutton--effect-tamara nav_nowaitforajax" id="show">رویت</button>
                        </div>
                    </li>
                    <li onclick="">
                        <div class = "button-wrap">
                            <button class = "rad-button light gradient cbutton cbutton--effect-tamara nav_waitforajax">چاپ</button>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="col s3 text-section">
                <ul class="services">
                    
                </ul>
            </div>
        </div>
    </div>
</div>

        <footer>
        <div class="container">
            <div class="row">
                <div class="footer-btn">
                    <div class="col s3 m4" onclick="eject()">
                        <a class="waves-effect waves-light"><span>انصراف</span></a>
                    </div>
                    <div class="col s3 m4" onclick="back()">
                        <a class="waves-effect waves-light prev"><i class="material-icons right">&#xE315;</i><span>بازگشت</span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="footer-line">
                    <div class="col s2 m4 border">
                    </div>
                    <div class="col s3 m4">
                        <div class="footer-img">
                            <!-- <span>www.gssint.com</span> -->
                            <img src="assets/img/www.gssint.com.png" alt="">
                        </div>
                    </div>
                    <div class="col s2 m4 border">
                    </div>
                </div>
            </div>
        </div>
    </footer>

</div>
<script type="text/javascript">
function goToBudget(){
    $(".pnlChild").load("budget.html");
}
function success(){
    $(".pnlChild").load("success.html");
}
$(document).ready(function(){
    $("#show").click(function(){
        $("body").animate({display: "none"});
    });
});
</script>
<script>
      (function() {
        function mobilecheck() {}

        var support = { animations : Modernizr.cssanimations },
          animEndEventNames = { 'WebkitAnimation' : 'webkitAnimationEnd', 'OAnimation' : 'oAnimationEnd', 'msAnimation' : 'MSAnimationEnd', 'animation' : 'animationend' },
          animEndEventName = animEndEventNames[ Modernizr.prefixed( 'animation' ) ],
          onEndAnimation = function( el, callback ) {
            var onEndCallbackFn = function( ev ) {
              if( support.animations ) {
                if( ev.target != this ) return;
                this.removeEventListener( animEndEventName, onEndCallbackFn );
              }
              if( callback && typeof callback === 'function' ) { callback.call(); }
            };
            if( support.animations ) {
              el.addEventListener( animEndEventName, onEndCallbackFn );
            }
            else {
              onEndCallbackFn();
            }
          },
          eventtype = mobilecheck() ? 'touchstart' : 'click';

        [].slice.call( document.querySelectorAll( '.cbutton' ) ).forEach( function( el ) {
          el.addEventListener( eventtype, function( ev ) {
            classie.add( el, 'cbutton--click' );
            onEndAnimation( classie.has( el, 'cbutton--complex' ) ? el.querySelector( '.cbutton__helper' ) : el, function() {
              classie.remove( el, 'cbutton--click' );
            } );
          } );
        } );

      })();
    </script>
    <script>
        $(function () {
            $(".nav_nowaitforajax").on("click", function (ev) {
                ev.preventDefault();
                $(".content_div").animate({
                    "margin-left": $(".content_div").width() + 100
                }).promise().done(function () {
                    $(".content_div").html("Loading please wait...").load("budget.html");
                    $(".content_div").css({
                        "margin-left": -1000
                    });
                    $(".content_div").animate({
                        "margin-left": 0
                    });
                });
            });
            $(".nav_waitforajax").on("click", function (ev) {
                ev.preventDefault();
                $(".content_div").animate({
                    "margin-left": $(".content_div").width() + 100
                }).promise().done(function () {
                    $(".content_div").html("Loading please wait...").load("success.html");
                    $(".content_div").css({
                        "margin-left": -1000
                    });
                    $(".content_div").animate({
                        "margin-left": 0
                    });
                });
            });
        });
    </script>

