<div class="container">
    <div class="row">
        <div class="card-box">
            <div class="col s4 text-section">
                <ul class="services">
                    <li onclick="changePass()">
                        <div class = "button-wrap">
                            <button class = "rad-button light gradient">تغییر رمز</button>
                        </div>
                    </li>
                    <li onclick="paymentServices()">
                        <div class = "button-wrap">
                            <button class = "rad-button light gradient">پرداخت قبوض و فیش ها</button>
                        </div>
                    </li>
                    <li  onclick="translate_menu()">
                        <div class = "button-wrap">
                            <button class = "rad-button light gradient">انتقال وجه</button>
                        </div>
                    </li>
                    <li onclick="mojoodi()">
                        <div class = "button-wrap">
                            <button class = "rad-button light gradient">موجودی</button>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="col s4 text-section">
                <span class="">لطفا خدمات مورد نظر را انتخاب کنید</span>
            </div>

            <div class="col s4 text-section">
                <ul class="services">
                    <li onclick="withdraw()">
                        <div class = "button-wrap">
                            <button class = "rad-button light gradient">برداشت وجه</button>
                        </div>
                    </li>
                    <li>
                        <div class = "button-wrap">
                            <button class = "rad-button light gradient" onclick="deposite()">واریز وجه</button>
                        </div>
                    </li>
                    <li>
                        <div class = "button-wrap">
                            <button class = "rad-button light gradient" onclick="charge()">خرید شارژ</button>
                        </div>
                    </li>
                    <li>
                        <div class = "button-wrap">
                            <button class = "rad-button light gradient">رزرو</button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>




<footer>
    <div class="container">
        <div class="row">
            <div class="footer-btn">
                <div class="col s3 m4" onclick="eject()">
                    <a class="waves-effect waves-light"><span>انصراف</span></a>
                </div>
                <div class="col s3 m4" onclick="home()">
                    <a class="waves-effect waves-light prev"><i class="material-icons right">&#xE315;</i><span>بازگشت</span></a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="footer-line">
                <div class="col s2 m4 border">
                </div>
                <div class="col s3 m4">
                    <div class="footer-img">
                        <!-- <span>www.gssint.com</span> -->
                        <img src="assets/img/www.gssint.com.png" alt="">
                    </div>
                </div>
                <div class="col s2 m4 border">
                </div>
            </div>
        </div>
    </div>
</footer>


<script>
    function home(){
        $(".pnlChild").load("main-page.html");
    }
    function withdraw(){
        $(".pnlChild").load("withdraw.html");
    }
    function deposite(){
        $(".pnlChild").load("deposite.html");
    }
    function eject(){
        $(".pnlChild").load("get-card.html");
    }
    function paymentServices(){
        $(".pnlChild").load("paymentServices.html");
    }
    function mojoodi(){
        $(".pnlChild").load("selectShowOrPrint.html");
    }
    function charge(){
        $(".pnlChild").load("charge-sim.html");     
    }
    function changePass() {
        $(".pnlChild").load("change-password-menu.html");
    }
    function paymentServices() {
        $(".pnlChild").load("paymentServices.html");
    }
    function translate_menu() {
        $(".pnlChild").load("transfer-menu.html");

    }
    function mojoodi() {
        $(".pnlChild").load("selectShowOrPrint.html");
    }
</script>
