<!--  -->
<div class="container">
    <div class="row">
        <div class="card-box">
            <div class="col s3 text-section">
                <ul class="services">

                </ul>
            </div>

            <div class="col s6 text-section">
                <span class="">عملیات با موفقیت انجام شد</span>
            </div>

            <div class="col s3 text-section">
                <ul class="services">

                </ul>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    window.setTimeout(function () {
        $(".pnlChild").load("receipt.html");
    }, 3000);
</script>
