
<div class="container">
    <div class="row">
        <div class="card-box">
            <div class="col s6 text-section">
                <ul class="services">
                    <li >
                        <div class = "button-wrap">
                            <button class = "rad-button light gradient">کمیته امداد</button>
                        </div>
                    </li>
                    <li onclick="behzisti()">
                        <div class = "button-wrap">
                            <button class = "rad-button light gradient">بهزیستی</button>
                        </div>
                    </li>
                    <li >
                        <div class = "button-wrap">
                            <button class = "rad-button light gradient">بازسازی عتبات</button>
                        </div>
                    </li>
                    <li>
                        <div class = "button-wrap">
                            <button class = "rad-button light gradient">کودکان سرطانی محک</button>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="col s6 text-section">
                <ul class="services">
                    <li >
                        <div class = "button-wrap">
                            <button class = "rad-button light gradient">شیرخوارگاه آمنه</button>
                        </div>
                    </li>
                    <li>
                        <div class = "button-wrap">
                            <button class = "rad-button light gradient">نذورات</button>
                        </div>
                    </li>
                    <li>
                        <div class = "button-wrap">
                            <button class = "rad-button light gradient">مدافعان حرم</button>
                        </div>
                    </li>
                    <li>
                        <div class = "button-wrap">
                            <button class = "rad-button light gradient">کودکان بدسرپرست</button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>



<footer>
    <div class="container">
        <div class="row">
            <div class="footer-btn">
                <div class="col s3 m4" onclick="eject()">
                    <a class="waves-effect waves-light"><span>انصراف</span></a>
                </div>
                <div class="col s3 m4" onclick="back()">
                    <a class="waves-effect waves-light prev"><i class="material-icons right">&#xE315;</i><span>بازگشت</span></a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="footer-line">
                <div class="col s2 m4 border">
                </div>
                <div class="col s3 m4">
                    <div class="footer-img">
                        <!-- <span>www.gssint.com</span> -->
                        <img src="assets/img/www.gssint.com.png" alt="">
                    </div>
                </div>
                <div class="col s2 m4 border">
                </div>
            </div>
        </div>
    </div>
</footer>


<script>
    function behzisti(){
        $(".pnlChild").load("transfer-R-behzisti.html");
    }

    function eject(){
        $(".pnlChild").load("get-card.html");
    }

    function back() {
        $(".pnlChild").load("transfer-menu.html");
    }
</script>
