
<div class="container">
    <div class="row">
        <div class="card-box">
            <div class="center text-section">
                <ul class="services">
                    <li onclick="tashilat()">
                        <div class = "button-wrap">
                            <button class = "rad-button light gradient">پرداخت تسهیلات</button>
                        </div>
                    </li>
                    <li  onclick="cardTranslate()">
                        <div class = "button-wrap">
                            <button class = "rad-button light gradient">انتقال به کارت </button>
                        </div>
                    </li>
                    <li onclick="help()">
                        <div class = "button-wrap">
                            <button class = "rad-button light gradient">کمک های مردمی</button>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>



<footer>
    <div class="container">
        <div class="row">
            <div class="footer-btn">
                <div class="col s3 m4" onclick="eject()">
                    <a class="waves-effect waves-light"><span>انصراف</span></a>
                </div>
                <div class="col s3 m4" onclick="back()">
                    <a class="waves-effect waves-light prev"><i class="material-icons right">&#xE315;</i><span>بازگشت</span></a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="footer-line">
                <div class="col s2 m4 border">
                </div>
                <div class="col s3 m4">
                    <div class="footer-img">
                        <!-- <span>www.gssint.com</span> -->
                        <img src="assets/img/www.gssint.com.png" alt="">
                    </div>
                </div>
                <div class="col s2 m4 border">
                </div>
            </div>
        </div>
    </div>
</footer>


<script>
    function tashilat(){
        $(".pnlChild").load("payment.html");
    }
    function cardTranslate(){
        $(".pnlChild").load("transfer.html");
    }
    function eject(){
        $(".pnlChild").load("get-card.html");
    }
    function help() {
        $(".pnlChild").load("transfer-helping.html");
    }
    function back() {
        $(".pnlChild").load("services.html");
    }

</script>
