<script src="assets/js/zepto.min.js"></script>
<script src="assets/js/jquery.mask.min.js"></script>
<div class="container">
    <div class="row">
        <div class="card-box">
         <ul>
             <li>
                <div class="col s12 text-section">
                    <span class="">لطفا شماره کارت مورد نظر را وارد نمایید.</span>
                    <input type="text" placeholder="شماره کارت " class="moneyBox" data-mask="0000 0000 0000 0000">
                </div>
            </li>
            <li>

              <div class="col s12 text-section">
                <span class="">لطفا مبلغ کارت مورد نظر را وارد نمایید</span>
                <input type="text" placeholder="مبلغ" class="moneyBox" data-mask="000,000,000,000,000" data-mask-reverse="true">
            </li>
        </ul>
    </div>
</div>
</div>


<footer>
    <div class="container">
        <div class="row">
            <div class="footer-btn">
                <div class="col s3 m4" onclick="translate()">
                    <a class="waves-effect waves-light"><i class="material-icons left">&#xE314;</i><span>تایید</span></a>
                </div>
                <div class="col s3 m4" onclick="eject()">
                    <a class="waves-effect waves-light"><span>انصراف</span></a>
                </div>
                <div class="col s3 m4" onclick="back()">
                    <a class="waves-effect waves-light prev"><i class="material-icons right">&#xE315;</i><span>بازگشت</span></a>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="footer-line">
                <div class="col s2 m4 border">
                </div>
                <div class="col s3 m4">
                    <div class="footer-img">
                        <!-- <span>www.gssint.com</span> -->
                        <img src="assets/img/www.gssint.com.png" alt="">
                    </div>
                </div>
                <div class="col s2 m4 border">
                </div>
            </div>
        </div>
    </div>
</footer>


<script type="text/javascript">  
    function translate() {
        $(".pnlChild").load("transfer-result.html");
    }
    function eject() {
        $(".pnlChild").load("get-card.html");
    }
    function back() {
        $(".pnlChild").load("transfer-menu.html");
    }
</script>