

<div class="container">
    <div class="row">
        <div class="card-box">
            <ul>
                <li>
                    <div class="col s12 text-section">
                        <p >کمک های مردمی(بهزیستی)</p>
                    </div>
                    <div class="col s12 text-section">

                        <center>
                            <span class="">لطفا مبلغ کارت مورد نظر را وارد نمایید و سپس دکمه ثبت را فشار دهید</span>
                            <input type="text" placeholder="مبلغ"  class="moneyBox" style="text-align:center">
                        </center>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>


<footer>
    <div class="container">
        <div class="row">
            <div class="footer-btn">
                <div class="col s3 m4" onclick="sabt()">
                    <a class="waves-effect waves-light"><i class="material-icons left">&#xE314;</i><span>تایید</span></a>
                </div>
                <div class="col s3 m4" onclick="eject()">
                    <a class="waves-effect waves-light"><span>انصراف</span></a>
                </div>
                <div class="col s3 m4" onclick="back()">
                    <a class="waves-effect waves-light prev"><i class="material-icons right">&#xE315;</i><span>بازگشت</span></a>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="footer-line">
                <div class="col s2 m4 border">
                </div>
                <div class="col s3 m4">
                    <div class="footer-img">
                        <!-- <span>www.gssint.com</span> -->
                        <img src="assets/img/www.gssint.com.png" alt="">
                    </div>
                </div>
                <div class="col s2 m4 border">
                </div>
            </div>
        </div>
    </div>
</footer>

<script type="text/javascript">
    function sabt() {
        $(".pnlChild").load("transfer-H-R-behzisiti.html");

    }
    function eject() {
        $(".pnlChild").load("get-card.html");
    }
    function back() {
        $(".pnlChild").load("transfer-menu.html");
    }
</script>

