

<div class="container">
    <div class="row">
        <div class="card-box">
            <ul>
                <li>
                    <div class="col s12 text-section">
                        <span>آیا اطلاعات زیر را تایید میکنید؟</span>
                    </div>
                </li>

                <li>
                    <div class="col s12 text-section">
                        <span class="fs20">نام و نام خانوادگی شخص مورد نظر</span>
                        <center><label id="name"> <h4>شرکا جی اس اس<h4></label> </center>
                    </div>
                </li>

                <li>
                    <div class="col s12 text-section">
                        <span class="fs20">مبلغ</span>
                        <center>
                            <label><h4>200,0000 ریال</h4></label>
                        </center>
                    </li>
                </div>
            </ul>
        </div>
    </div>
</div>


<footer>
    <div class="container">
        <div class="row">
            <div class="footer-btn">
                <div class="col s3 m4" onclick="success()">
                    <a class="waves-effect waves-light"><i class="material-icons left">&#xE314;</i><span>تایید</span></a>
                </div>
                <div class="col s3 m4" onclick="eject()">
                    <a class="waves-effect waves-light"><span>انصراف</span></a>
                </div>
                <div class="col s3 m4" onclick="back()">
                    <a class="waves-effect waves-light prev"><i class="material-icons right">&#xE315;</i><span>بازگشت</span></a>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="footer-line">
                <div class="col s2 m4 border">
                </div>
                <div class="col s3 m4">
                    <div class="footer-img">
                        <!-- <span>www.gssint.com</span> -->
                        <img src="assets/img/www.gssint.com.png" alt="">
                    </div>
                </div>
                <div class="col s2 m4 border">
                </div>
            </div>
        </div>
    </div>
</footer>

<script type="text/javascript">
    function success() {
      $(".pnlChild").load("success.html");
  }
  function back() {
      $(".pnlChild").load("transfer.html");
  }
  function eject() {
      $(".pnlChild").load("get-card.html");
  }
</script>