<!--  -->
<div class="container">
    <div class="row">
        <div class="card-box">
            <div class="col s3 text-section">
                <ul class="services">
                    <!-- <li onclick="goToServices()">
                        <div class = "button-wrap">
                            <button class = "rad-button light gradient">بله</button>
                        </div>
                    </li> -->
                </ul>
            </div>

            <div class="col s6 text-section">
                <span class="">آیا مایل به ادامه کار هستید؟</span>
            </div>

            <div class="col s3 text-section">
                <ul class="services">
                    <!-- <li onclick="getCard()">
                        <div class = "button-wrap">
                            <button class = "rad-button light gradient">خیر</button>
                        </div>
                    </li> -->
                </ul>
            </div>
        </div>
    </div>
</div>

        <footer>
        <div class="container">
            <div class="row">
                <div class="footer-btn">
                    <div class="col s3 m4" onclick="goToServices()">
                        <a class="waves-effect waves-light">
                            <span>بله&nbsp;&nbsp;</span>
                            <i class="material-icons">done</i>
                        </a>
                    </div>
                    <div class="col s3 m4" onclick="eject()">
                        <!-- <a class="waves-effect waves-light"><span>انصراف</span></a> -->
                    </div>
                    <div class="col s3 m4" onclick="getCard()">
                        <a class="waves-effect waves-light prev">
                            <i class="material-icons">cancel</i>
                            <span>خیر&nbsp;&nbsp;</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="footer-line">
                    <div class="col s2 m4 border">
                    </div>
                    <div class="col s3 m4">
                        <div class="footer-img">
                            <!-- <span>www.gssint.com</span> -->
                            <img src="assets/img/www.gssint.com.png" alt="">
                        </div>
                    </div>
                    <div class="col s2 m4 border">
                    </div>
                </div>
            </div>
        </div>
    </footer>

<script type="text/javascript">
function goToServices(){
    $(".pnlChild").load("services.html");
}
function getCard(){
    $(".pnlChild").load("get-card.html");
}
</script>
