<div class="container">
    <div class="row">
        <div class="withdraw-box">

            <div class="text-section multi">
                <div class="multiple-withdraw-box">
                    <div class="col s4">
                        <ul>
                            <li>
                                <button onclick="money()">۱۰۰،۰۰۰ ریال</button>
                            </li>
                            <li>
                                <button onclick="money()">۳۰۰،۰۰۰ ریال</button>
                            </li>
                            <li>
                                <button onclick="money()">۸۰،۰۰۰ ریال</button>
                            </li>
                            <li>
                                <button onclick="money()">۱۵۰۰،۰۰۰ ریال</button>
                            </li>
                        </ul>
                    </div>

                    <div class="col s4">
                        <center>
                            <span>لطفا مبلغ دلخواه را وارد نمایید</span>
                            <input type="text" placeholder="مبلغ" class="moneyBox"><span>(ریال)</span>
                        </center>
                    </div>

                    <div class="col s4">
                        <ul>
                            <li>
                                <button onclick="money()">۲۰۰،۰۰۰ ریال</button>
                            </li>
                            <li>
                                <button onclick="money()">۵۰۰،۰۰۰ ریال</button>
                            </li>
                            <li>
                                <button onclick="money()">۱۰۰۰،۰۰۰ ریال</button>
                            </li>
                            <li>
                                <button onclick="money()">۲۰۰۰،۰۰۰ ریال</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer>
    <div class="container">
        <div class="row">
            <div class="footer-btn">
                <div class="col s3 m4" onclick="eject()">
                    <a class="waves-effect waves-light"><span>انصراف</span></a>
                </div>
                <div class="col s3 m4" onclick="services()">
                    <a class="waves-effect waves-light prev"><i class="material-icons right">&#xE315;</i><span>بازگشت</span></a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="footer-line">
                <div class="col s2 m4 border">
                </div>
                <div class="col s3 m4">
                    <div class="footer-img">
                        <!-- <span>www.gssint.com</span> -->
                        <img src="assets/img/www.gssint.com.png" alt="">
                    </div>
                </div>
                <div class="col s2 m4 border">
                </div>
            </div>
        </div>
    </div>
</footer>


<script src="assets/js/autoNumeric.js"></script>

<script>

    $('.moneyBox').autoNumeric('init', { "mDec": '0' });
    console.log('autonumber lib loaded.');

    function money() {
        $(".pnlChild").load("money.html");
    }

    function eject() {
        $(".pnlChild").load("get-card.html");
    }
    function services() {
        $(".pnlChild").load("services.html");
    }
</script>    
