/*bahman*/
.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

.menu {
	
	position: absolute;
	  top: 50%;
	  left: 50%;
	  -ms-transform: translateX(-50%) translateY(-50%);
	          transform: translateX(-50%) translateY(-50%);
	
	.btn {
		.fa {
			position: absolute;
			  top: 50%;
			  left: 50%;
			  -ms-transform: translateX(-50%) translateY(-50%);
			          transform: translateX(-50%) translateY(-50%);
		}
	}

	.btn.trigger {
		.line {
			position: absolute;
			  top: 50%;
			  left: 50%;
			  -ms-transform: translateX(-50%) translateY(-50%);
			          transform: translateX(-50%) translateY(-50%);
		}
	}
}

.menu {
  width: 10em;
  height: 10em;
 	.btn {
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	  border-radius: 50%;
	  background: rgba(255, 255, 255, 0.15);
	  opacity: 0;
	  z-index: -10;
	  cursor: pointer;
	  -ms-transition: opacity 1s, z-index 0.3s, -ms-transform 1s;
	  transition: opacity 1s, z-index 0.3s, -ms-transform 1s;
	  transition: opacity 1s, z-index 0.3s, transform 1s;
	  transition: opacity 1s, z-index 0.3s, transform 1s, -ms-transform 1s;
	  -ms-transform: translateX(0);
	          transform: translateX(0);
	  .fa {
	  	font-size: 3em;
	    -ms-transition: color 0.3s;
	    transition: color 0.3s;
	  }

	  &:hover {
	  	.fa {
	  		 color: rgba(255, 255, 255, 0.7);
	  	}
	  }
	}
	
 	.btn.trigger {
	  opacity: 1;
	  z-index: 100;
	  cursor: pointer;
	  -ms-transition: -ms-transform 0.3s;
	  transition: -ms-transform 0.3s;
	  transition: transform 0.3s;
	  transition: transform 0.3s, -ms-transform 0.3s;

	  &:hover {
	  	-ms-transform: scale(1.2);
          		transform: scale(1.2);
	  }
	}

	
	.rotater {
	  	position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		-ms-transform-origin: 50% 50%;
		transform-origin: 50% 50%;
		.btn {
		  position: absolute;
		  top: 0;
		  left: 0;
		  width: 100%;
		  height: 100%;
		  border-radius: 50%;
		  background: rgba(255, 255, 255, 0.15);
		  opacity: 0;
		  z-index: -10;
		  cursor: pointer;
		  -ms-transition: opacity 1s, z-index 0.3s, -ms-transform 1s;
		  transition: opacity 1s, z-index 0.3s, -ms-transform 1s;
		  transition: opacity 1s, z-index 0.3s, transform 1s;
		  transition: opacity 1s, z-index 0.3s, transform 1s, -ms-transform 1s;
		  -ms-transform: translateX(0);
		          transform: translateX(0);
	    }
	}
	
}

.menu.active {
	.btn-icon {
		opacity: 1;
  		z-index: 50;
	}

	.trigger {
		
	}

	.rotater {
		&:nth-child(1) {
          	.btn-icon {
          		 -ms-transform: translateY(-12em) rotate(33.5deg);
          				 transform: translateY(-12em) rotate(33.5deg);
          	}
		}

		&:nth-child(2) {
          	.btn-icon {
          		-ms-transform: translateY(-12em) rotate(-33.5deg);
          				transform: translateY(-12em) rotate(-33.5deg);	
          	}
		}

		&:nth-child(3) {

		}

		&:nth-child(4) {

		}

		&:nth-child(5) {

		}

		&:nth-child(6) {

		}

		&:nth-child(7) {

		}

		&:nth-child(8) {

		}
	}
}

.rotater {
	&:nth-child(1) {
		-ms-transform: rotate(-33.5deg);
          		transform: rotate(-33.5deg);
	}

	&:nth-child(2) {
		-ms-transform: rotate(33.5deg);
          		transform: rotate(33.5deg);
	}

	&:nth-child(3) {

	}

	&:nth-child(4) {
	
	}

	&:nth-child(5) {
	
	}

	&:nth-child(6) {
	
	}

	&:nth-child(7) {
	
	}

	&:nth-child(8) {
	
	}
}