/*override materialize*/
.arrow-key {
    top: 400px;
    position: relative;
    margin-bottom: 0;
    @media screen and (min-width: 600px) and (max-width: 1800px){
        top: 552px;
        position: relative;
        margin-bottom: 0;
    }
    ul.pagination {
        position: relative;
        margin: 0 auto;

        li{
            height: auto;
            a{
                line-height: 55px;
                /*padding: 0 40px;*/
                color: #fff;
                font-size: 22px;

                i.right{
                    margin-left: 0px;
                }
                i.left{
                    margin-right: 0px;
                }
            }
        }
        li.prev{
            left: 10%;
            position: absolute;
        }
        li.cancel{
            left: 45%;
            position: absolute;
        }
        .arrow-key ul li.next{
            right: 10%;
            position: absolute;
        }
    }
}
// .btn-floating {
//     display: inline-block;
//     color: #fff;
//     position: relative;
//     overflow: hidden;
//     z-index: 1;
//     width: 80px;
//     height: 80px;
//     line-height: 37px;
//     padding: 0;
//     background-color: #26a69a;
//     border-radius: 0%;
//     transition: .3s;
//     vertical-align: middle;
// }
// .btn-floating.btn-large {
//     width: 80px;
//     height: 80px;
// }
// .fixed-action-btn.horizontal ul {
//     text-align: right;
//     right: 84px;
//     top: 50%;
//     -webkit-transform: translateY(-50%);
//     transform: translateY(-50%);
//     height: 100%;
//     left: auto;
//     width: 500px;
// }




//fonts
@font-face {
    font-family: 'sahel';
    src: url('../fonts/Sahel.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Sahel.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Sahel.woff') format('woff'); /* Pretty Modern Browsers */
}

@font-face {
    font-family: 'sahel-black';
    src: url('../fonts/Sahel-black.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Sahel-black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Sahel-black.woff') format('woff'); /* Pretty Modern Browsers */
}

@font-face {
    font-family: 'sahel-bold';
    src: url('../fonts/Sahel-bold.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Sahel-bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Sahel-bold.woff') format('woff'); /* Pretty Modern Browsers */
}




*{
    font-family: sahel;

}
button:active{
    cursor: none;
}
body{
    background-color: #000000;
    width: 100%;
    height: 100vh;
    background-image: url('../img/main-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;


    header {
        width: 100%;
        text-align: center;
        font-size: 72px;
        line-height: 130px;
        height: 100px;

        img{
            float: right;
            margin: 20px 20px auto auto;
        }
    }

    footer {
        text-align: center;
        position: absolute;
        width: 100%;
        bottom: 10px;

        .container{
            .row{
                a{
                    padding: 20px;
                    font-size: 24px;
                    align-items: center;
                    display: flex;
                    justify-content: center;

                    &:hover, &:focus, &:active{
                        border-bottom: 2px solid #fff;
                        padding: 18px 20px;
                    }

                    span, i{
                        color: #fff;
                    }
                    i{
                        font-size: 40px;
                    }
                }
                a.prev{
                    flex-direction: row-reverse;
                }
            }
            .footer-btn{
                display: flex;
                justify-content: space-between;

                .col{
                    margin: 0px;
                }
            }

            .footer-line{
                display: flex;
                justify-content: space-between;
                width: 100%;
                .col{
                    margin: 0;
                }
                .border{
                    border-bottom: 2px solid #fff;
                }

                .footer-img{
                    position: relative;
                    top: 30px;

                    @media screen and (max-width: 992px){
                        img{
                            width: 90%;
                        }
                    }
                }
            }
        }
        .container:first-child{
            .row{
                margin-bottom: 0px;
            }
        }

        .footer-main-page{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 0px 20px;

            ul{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin: 0px 30px;
            }
            img{
                width: 100%;
                height: 100%;
            }
        }
    }

    .container{

        #examples{
            position: relative;
            top: -15px;
        }

        .row{

            p.waiting-text{
                font-size: 40px;
                color: #fff;
                text-align: center;
            }

            //for qpayment pages
            .payment-box{
                .text-section{
                    align-self: center;

                    p{
                        color: #fff;
                        font-size: 14px;
                    }
                }

                input {
                    margin: 0 5px;
                }
                table{
                    color: #fff;
                    font-size: 18px;
                    tr{
                        td{
                            direction: rtl;
                        }
                    }
                }
            }
            .charge-box{
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 100%;

                .text-section{
                    align-self: center;
                    &.multi{
                        align-self: auto;
                    }
                    .money{
                        font-size: 24px;
                        display: flex;
                        direction: rtl;
                        p{
                            margin: 0px 20px;
                        }
                    }
                    ul.charges{
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        align-items: center;

                        li{
                            margin: 10px auto;

                            .button-wrap{
                              margin-right: 25px;
                          }
                          .rad-button{
                            white-space:nowrap;
                            top:0px;
                            border-radius:4px;
                            position:relative;
                            border:none;
                            background:none;
                            width: 200px;
                            height: 50px;
                            transition:0.1s all ease;
                            font-size : 16px;
                            font-weight: 300;
                            color:#777;
                            border-bottom: 1px solid #ccc;
                            box-shadow:0px 0px 0px 0px #B8B8B8;


                            &.gradient{
                                background: #f0f0f0; 
                                background: -moz-linear-gradient(top,  #f0f0f0 0%, #e0e0e0 100%); 
                                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f0f0), color-stop(100%,#e0e0e0)); 
                                background: -webkit-linear-gradient(top,  #f0f0f0 0%,#e0e0e0 100%); 
                                background: -o-linear-gradient(top,  #f0f0f0 0%,#e0e0e0 100%); 
                                background: -ms-linear-gradient(top,  #f0f0f0 0%,#e0e0e0 100%);
                                background: linear-gradient(to bottom,  #f0f0f0 0%,#e0e0e0 100%);
                                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#e0e0e0',GradientType=0 );

                                &:active{
                                    top:0px;
                                    height:50px;
                                    border: 1px solid #727272;
                                    background-color:#8e8e8e;
                                    box-shadow: inset 0px 0px 4px rgba(0,0,0,0.15);
                                }

                                &:focus{
                                    outline:0;
                                }
                                &:active{
                                    top:0px;
                                    height:50px;
                                    border: 1px solid #ccc;
                                    background-color:#ededed;
                                    box-shadow: inset 0px 0px 4px rgba(0,0,0,0.15);
                                }
                            }
                        }
                    }
                }
                .multiple-charge-box{
                    display: flex;
                    align-items: flex-start;
                    width: 100%;
                    direction: rtl;

                    .col{
                        display: flex;
                        &:first-child{
                            justify-content: start;
                        }
                        &:last-child{
                            justify-content: end;
                        }
                        ul{
                            li{
                                margin: 20px auto;
                                button{
                                    background: no-repeat;
                                    border: none;
                                    color: #fff;
                                    font-size: 26px;
                                    direction: rtl;
                                }
                            }
                        }
                    }
                }
            }
        }

        //withdraw styles
        .withdraw-box{
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            .text-section{
                align-self: center;

                &.multi{
                    align-self: auto;
                }

                .multiple-withdraw-box{
                    display: flex;
                    align-items: baseline;
                    width: 100%;
                    direction: rtl;

                    .col{
                        display: flex;
                        &:first-child{
                            justify-content: start;
                        }
                        &:last-child{
                            justify-content: end;
                        }
                        ul{
                            text-align: left;
                            li{
                                margin: 20px auto;
                                button{
                                    background: no-repeat;
                                    border: none;
                                    color: #fff;
                                    font-size: 26px;
                                    direction: rtl;
                                }
                            }
                        }

                        center{
                            span{
                                font-size: 20px;
                                color: #fff;
                            }
                            input{
                                color: #fff;
                                text-align: center;
                            }
                        }
                    }
                }
            }

        }
            //for put,get,receipt,password card
            .card-box{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: row-reverse;
                width: 100%;

                @media screen and (min-height: 600px) and (max-height: 620px){
                    height: 45vh;
                }
                @media screen and (min-height: 621px) and (max-height: 680px){
                    height: 50vh;
                }
                @media screen and (min-height: 681px) and (max-height: 750px){
                    height: 55vh;
                }
                @media screen and (min-height: 751px) and (max-height: 768px){
                    height: 60vh;
                }

                .text-section{
                    align-self: center;
                    p{
                        color: #fff;
                        font-size: 40px;
                        text-align: center;
                    }
                    
                    span{
                        font-size: 32px;
                        text-align: center;
                        display: block;
                        color: #fff;
                    }
                    span.fs20{
                        font-size: 20px;
                    }
                    .confirmed{
                        margin-top: 40px;
                        span{
                            font-size: 20px;
                        }
                    }
                    .put{
                        font-size: 30px;
                    }
                    input{
                        text-align: left;
                        font-size: 24px;
                        margin-top: 30px;
                        color: #fff;
                        text-align: center;

                        &::-webkit-input-placeholder {
                            color: #fff;
                            font-size: 24px;
                            text-align: center;
                        }
                        &::-moz-placeholder { 
                            color: #fff;
                            font-size: 24px;
                            text-align: center;
                        }
                        &:-ms-input-placeholder {
                            color: #fff;
                            font-size: 24px;
                            text-align: center;
                        }
                        &:-moz-placeholder { 
                            color: #fff;
                            font-size: 24px;
                            text-align: center;
                        }
                    }

                    ul.services{
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        align-items: center;

                        li{
                            margin: 10px auto;

                            .button-wrap{
                              margin-right: 25px;
                          }
                          .rad-button{
                              white-space:nowrap;
                              top:0px;
                              border-radius:4px;
                              position:relative;
                              border:none;
                              background:none;
                              width: 200px;
                              height: 50px;
                              transition:0.1s all ease;
                              font-size : 16px;
                              font-weight: 300;
                              color:#777;
                              border-bottom: 1px solid #ccc;
                              box-shadow:0px 0px 0px 0px #B8B8B8;

                              &.gradient{
                                background: #f0f0f0; /* Old browsers */
                                background: -moz-linear-gradient(top,  #f0f0f0 0%, #e0e0e0 100%); /* FF3.6+ */
                                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f0f0), color-stop(100%,#e0e0e0)); /* Chrome,Safari4+ */
                                background: -webkit-linear-gradient(top,  #f0f0f0 0%,#e0e0e0 100%); /* Chrome10+,Safari5.1+ */
                                background: -o-linear-gradient(top,  #f0f0f0 0%,#e0e0e0 100%); /* Opera 11.10+ */
                                background: -ms-linear-gradient(top,  #f0f0f0 0%,#e0e0e0 100%); /* IE10+ */
                                background: linear-gradient(to bottom,  #f0f0f0 0%,#e0e0e0 100%); /* W3C */
                                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#e0e0e0',GradientType=0 ); /* IE6-9 */

                                 &:active{//dark active
                                  top:0px;
                                  height:50px;
                                  border: 1px solid #727272;
                                  background-color:#8e8e8e;
                                  box-shadow: inset 0px 0px 4px rgba(0,0,0,0.15);
                              }

                              &:focus{
                                outline:0;
                            }
                             &:active{//primary active
                                top:0px;
                                height:50px;
                                border: 1px solid #ccc;
                                background-color:#ededed;
                                box-shadow: inset 0px 0px 4px rgba(0,0,0,0.15);
                            }
                        }
                    }

                }
            }
        }
        .img-section{
            display: flex;
            justify-content: center;

            img{
                width: 40%;
            }
            img.pin{
                width: 90%;
            }
        }
    }

    .menu{
        .center-box{
            display: flex;
            align-items: center;

            span{
                font-size: 18px;
            }
            p{
                font-size: 18px;
                font-weight: bold;
            }
        }
    }
    .table-scroll{
        height: 272px;
        overflow: auto;
        width: 100%;
    }
    table.deposit-box{
        thead{
            tr{
                th{
                    color: #fff;
                    font-size: 18px;
                }
            }
        }
        tbody{
            tr:nth-child(2n+1){
                background-color: rgba(0,0,0,0.2);

            }
            tr{
                td{
                    color: #fff;
                    font-size: 15px;
                    font-weight: bold;
                    position: relative;
                    i{
                        color: #fff;
                    }
                    img{
                        width: 29px;
                        height: 19px;
                        position: absolute;
                        right: 25%;
                    }
                    &:first-child{
                        width: 20%;
                        word-break: break-all;
                    }
                    &:nth-child(2){
                        width: 50%;
                        word-break: break-all;
                    }
                }
            }
            tr.total{
                background: #5c5c5c;
                td{
                    direction: rtl;
                    span{
                        color: #fff;
                    }
                }
            }
        }
    }

            // for loader
            $topDotColor: #F00;
            $bottomDotColor: #777;
            $dotSize: 15px;

            .loader-box{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 30vh;
                width: 100%;
            }

            .dots {
                display: inline-block;
                position: relative;
                vertical-align: middle;

                &:not(:last-child){
                    margin-right: $dotSize*1.5;
                }

                &:before, &:after {
                    content: "";
                    display: inline-block;
                    width: $dotSize;
                    height: $dotSize;
                    border-radius: 50%;

                    position: absolute;
                }

                @for $i from 1 through 10 {
                    &:nth-child(#{$i}) {
                        &:before {
                            -webkit-transform: translateY(-200%);
                            transform: translateY(-200%);

                            -webkit-animation: animBefore 1s linear infinite;
                            animation: animBefore 1s linear infinite;

                            -webkit-animation-delay: $i*-0.9s;
                            animation-delay: $i*-0.9s;

                            background-color: $topDotColor;
                        }

                        &:after {
                            -webkit-transform: translateY(200%);
                            transform: translateY(200%);

                            -webkit-animation: animAfter 1s linear infinite;
                            animation: animAfter 1s linear infinite;

                            -webkit-animation-delay: $i*-0.9s;
                            animation-delay: $i*-0.9s;

                            background-color: $bottomDotColor;
                        }
                    }
                }
            }

            @-webkit-keyframes animBefore {
                0% {
                    -webkit-transform: scale(1) translateY(-200%);
                    z-index: 1;
                }

                25% {
                    -webkit-transform: scale(1.3) translateY(0);
                    z-index: 1;
                }

                50% {
                    -webkit-transform: scale(1) translateY(200%);
                    z-index: -1;
                }

                75% {
                    -webkit-transform: scale(0.7) translateY(0);
                    z-index: -1;
                }

                100% {
                    -webkit-transform: scale(1) translateY(-200%);
                    z-index: -1;
                }
            }
            @keyframes animBefore {
                0% {
                    transform: scale(1) translateY(-200%);
                    z-index: 1;
                }

                25% {
                    transform: scale(1.3) translateY(0);
                    z-index: 1;
                }

                50% {
                    transform: scale(1) translateY(200%);
                    z-index: -1;
                }

                75% {
                    transform: scale(0.7) translateY(0);
                    z-index: -1;
                }

                100% {
                    transform: scale(1) translateY(-200%);
                    z-index: -1;
                }
            }
            @-webkit-keyframes animAfter {
                0% {
                    -webkit-transform: scale(1) translateY(200%);
                    z-index: -1;
                }

                25% {
                    -webkit-transform: scale(0.7) translateY(0);
                    z-index: -1;
                }

                50% {
                    -webkit-transform: scale(1) translateY(-200%);
                    z-index: 1;
                }

                75% {
                    -webkit-transform: scale(1.3) translateY(0);
                    z-index: 1;
                }

                100% {
                    -webkit-transform: scale(1) translateY(200%);
                    z-index: 1;
                }
            }
            @keyframes animAfter {
                0% {
                    transform: scale(1) translateY(200%);
                    z-index: -1;
                }

                25% {
                    transform: scale(0.7) translateY(0);
                    z-index: -1;
                }

                50% {
                    transform: scale(1) translateY(-200%);
                    z-index: 1;
                }

                75% {
                    transform: scale(1.3) translateY(0);
                    z-index: 1;
                }

                100% {
                    transform: scale(1) translateY(200%);
                    z-index: 1;
                }
            }

        }
    }
}

