/**/
.container.budget {
		width: 75%;
	}

	.row.budget {
		direction: rtl;
	}

	.container.budget p, .container.budget h3, .container.budget td, .container.budget th  {
		direction: rtl;
		text-align: center;
	}

	.container.budget p {
		font-size: 30px;
	}

	.container.budget p.num {
		direction: ltr;
	}

	.container.budget img.flag {
		width: 60px;
		padding-top: 40px;
	}