/**/
.cbutton {
	position: relative;
	display: inline-block;
	margin: 1em;
	padding: 0;
	border: none;
	background: none;
	color: #286aab;
	font-size: 1.4em;
	overflow: visible;
	-webkit-transition: color 0.7s;
	transition: color 0.7s;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.cbutton::after {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -35px 0 0 -35px;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	content: '';
	opacity: 0;
	pointer-events: none;
}

/* Individual Effects */
/* Tamara */
.cbutton--effect-tamara::after {
	box-shadow: 0 0 0 20px rgba(111,148,182,1);
}

.cbutton--effect-tamara.cbutton--click::after {
	-webkit-animation: anim-effect-tamara 1s ease-out forwards;
	animation: anim-effect-tamara 1s ease-out forwards;
}

@keyframes anim-effect-tamara {
	0% {
		box-shadow: 0 0 0 50px rgba(255,255,255,0.5);
		opacity: 1;
		-ms-transform: scale3d(1.6, 1.6, 2);
		transform: scale3d(0.6, 0.6, 1);
	}
	100% {
		box-shadow: 0 0 0 50px rgba(255,255,255,1);
		opacity: 0;
		-ms-transform: scale3d(1.5, 1.5, 1.5);
		transform: scale3d(2, 2, 2);
	}
}
