body {
  background: -webkit-linear-gradient(45deg, #e10522 0%, rgba(225, 5, 34, 0) 70%), -webkit-linear-gradient(315deg, #3105d1 10%, rgba(49, 5, 209, 0) 80%), -webkit-linear-gradient(225deg, #0adbd8 10%, rgba(10, 219, 216, 0) 80%), -webkit-linear-gradient(135deg, #09f505 100%, rgba(9, 245, 5, 0) 70%);
  background: linear-gradient(45deg, #e10522 0%, rgba(225, 5, 34, 0) 70%), linear-gradient(135deg, #3105d1 10%, rgba(49, 5, 209, 0) 80%), linear-gradient(225deg, #0adbd8 10%, rgba(10, 219, 216, 0) 80%), linear-gradient(315deg, #09f505 100%, rgba(9, 245, 5, 0) 70%);
}

#gradient
{
  width: 100%;
  height: 100vh;
  padding: 0px;
  margin: 0px;
}

.container.qpayment {
	width: 75%;
}

/*qpayment*/
.qpayment td, .qpayment th, .container.qpayment .row .col p, .container.qpayment .row .col h5, .container.qpayment .row .col h3 {
	text-align: center;
}

.qpayment tbody, .qpayment thead {
	direction: ltr;
}

.qpayment input{
	direction: ltr;
}

.qpayment input[type=text] {
	background-color: white;
	border: none;
	border-radius: 3px;
	margin-top: 1em;
	text-align: center;
}

.container.qpayment table {
	direction: rtl;
}