/*override materialize*/
.arrow-key {
  top: 400px;
  position: relative;
  margin-bottom: 0; }
  @media screen and (min-width: 600px) and (max-width: 1800px) {
    .arrow-key {
      top: 552px;
      position: relative;
      margin-bottom: 0; } }
  .arrow-key ul.pagination {
    position: relative;
    margin: 0 auto; }
    .arrow-key ul.pagination li {
      height: auto; }
      .arrow-key ul.pagination li a {
        line-height: 55px;
        /*padding: 0 40px;*/
        color: #fff;
        font-size: 22px; }
        .arrow-key ul.pagination li a i.right {
          margin-left: 0px; }
        .arrow-key ul.pagination li a i.left {
          margin-right: 0px; }
    .arrow-key ul.pagination li.prev {
      left: 10%;
      position: absolute; }
    .arrow-key ul.pagination li.cancel {
      left: 45%;
      position: absolute; }
    .arrow-key ul.pagination .arrow-key ul li.next {
      right: 10%;
      position: absolute; }

@font-face {
  font-family: 'sahel';
  src: url("../fonts/Sahel.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Sahel.eot?#iefix") format("embedded-opentype"), url("../fonts/Sahel.woff") format("woff");
  /* Pretty Modern Browsers */ }

@font-face {
  font-family: 'sahel-black';
  src: url("../fonts/Sahel-black.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Sahel-black.eot?#iefix") format("embedded-opentype"), url("../fonts/Sahel-black.woff") format("woff");
  /* Pretty Modern Browsers */ }

@font-face {
  font-family: 'sahel-bold';
  src: url("../fonts/Sahel-bold.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Sahel-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Sahel-bold.woff") format("woff");
  /* Pretty Modern Browsers */ }

* {
  font-family: sahel; }

button:active {
  cursor: none; }

body {
  background-color: #000000;
  width: 100%;
  height: 100vh;
  background-image: url("../img/main-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top; }
  body header {
    width: 100%;
    text-align: center;
    font-size: 72px;
    line-height: 130px;
    height: 100px; }
    body header img {
      float: right;
      margin: 20px 20px auto auto; }
  body footer {
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 10px; }
    body footer .container .row a {
      padding: 20px;
      font-size: 24px;
      align-items: center;
      display: flex;
      justify-content: center; }
      body footer .container .row a:hover, body footer .container .row a:focus, body footer .container .row a:active {
        border-bottom: 2px solid #fff;
        padding: 18px 20px; }
      body footer .container .row a span, body footer .container .row a i {
        color: #fff; }
      body footer .container .row a i {
        font-size: 40px; }
    body footer .container .row a.prev {
      flex-direction: row-reverse; }
    body footer .container .footer-btn {
      display: flex;
      justify-content: space-between; }
      body footer .container .footer-btn .col {
        margin: 0px; }
    body footer .container .footer-line {
      display: flex;
      justify-content: space-between;
      width: 100%; }
      body footer .container .footer-line .col {
        margin: 0; }
      body footer .container .footer-line .border {
        border-bottom: 2px solid #fff; }
      body footer .container .footer-line .footer-img {
        position: relative;
        top: 30px; }
        @media screen and (max-width: 992px) {
          body footer .container .footer-line .footer-img img {
            width: 90%; } }
    body footer .container:first-child .row {
      margin-bottom: 0px; }
    body footer .footer-main-page {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 0px 20px; }
      body footer .footer-main-page ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 0px 30px; }
      body footer .footer-main-page img {
        width: 100%;
        height: 100%; }
  body .container #examples {
    position: relative;
    top: -15px; }
  body .container .row p.waiting-text {
    font-size: 40px;
    color: #fff;
    text-align: center; }
  body .container .row .payment-box .text-section {
    align-self: center; }
    body .container .row .payment-box .text-section p {
      color: #fff;
      font-size: 14px; }
  body .container .row .payment-box input {
    margin: 0 5px; }
  body .container .row .payment-box table {
    color: #fff;
    font-size: 18px; }
    body .container .row .payment-box table tr td {
      direction: rtl; }
  body .container .row .charge-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%; }
    body .container .row .charge-box .text-section {
      align-self: center; }
      body .container .row .charge-box .text-section.multi {
        align-self: auto; }
      body .container .row .charge-box .text-section .money {
        font-size: 24px;
        display: flex;
        direction: rtl; }
        body .container .row .charge-box .text-section .money p {
          margin: 0px 20px; }
      body .container .row .charge-box .text-section ul.charges {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center; }
        body .container .row .charge-box .text-section ul.charges li {
          margin: 10px auto; }
          body .container .row .charge-box .text-section ul.charges li .button-wrap {
            margin-right: 25px; }
          body .container .row .charge-box .text-section ul.charges li .rad-button {
            white-space: nowrap;
            top: 0px;
            border-radius: 4px;
            position: relative;
            border: none;
            background: none;
            width: 200px;
            height: 50px;
            transition: 0.1s all ease;
            font-size: 16px;
            font-weight: 300;
            color: #777;
            border-bottom: 1px solid #ccc;
            box-shadow: 0px 0px 0px 0px #B8B8B8; }
            body .container .row .charge-box .text-section ul.charges li .rad-button.gradient {
              background: #f0f0f0;
              background: -moz-linear-gradient(top, #f0f0f0 0%, #e0e0e0 100%);
              background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f0f0f0), color-stop(100%, #e0e0e0));
              background: -webkit-linear-gradient(top, #f0f0f0 0%, #e0e0e0 100%);
              background: -o-linear-gradient(top, #f0f0f0 0%, #e0e0e0 100%);
              background: -ms-linear-gradient(top, #f0f0f0 0%, #e0e0e0 100%);
              background: linear-gradient(to bottom, #f0f0f0 0%, #e0e0e0 100%);
              filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#e0e0e0',GradientType=0 ); }
              body .container .row .charge-box .text-section ul.charges li .rad-button.gradient:active {
                top: 0px;
                height: 50px;
                border: 1px solid #727272;
                background-color: #8e8e8e;
                box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.15); }
              body .container .row .charge-box .text-section ul.charges li .rad-button.gradient:focus {
                outline: 0; }
              body .container .row .charge-box .text-section ul.charges li .rad-button.gradient:active {
                top: 0px;
                height: 50px;
                border: 1px solid #ccc;
                background-color: #ededed;
                box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.15); }
      body .container .row .charge-box .text-section .multiple-charge-box {
        display: flex;
        align-items: flex-start;
        width: 100%;
        direction: rtl; }
        body .container .row .charge-box .text-section .multiple-charge-box .col {
          display: flex; }
          body .container .row .charge-box .text-section .multiple-charge-box .col:first-child {
            justify-content: start; }
          body .container .row .charge-box .text-section .multiple-charge-box .col:last-child {
            justify-content: end; }
          body .container .row .charge-box .text-section .multiple-charge-box .col ul li {
            margin: 20px auto; }
            body .container .row .charge-box .text-section .multiple-charge-box .col ul li button {
              background: no-repeat;
              border: none;
              color: #fff;
              font-size: 26px;
              direction: rtl; }
  body .container .row .withdraw-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%; }
    body .container .row .withdraw-box .text-section {
      align-self: center; }
      body .container .row .withdraw-box .text-section.multi {
        align-self: auto; }
      body .container .row .withdraw-box .text-section .multiple-withdraw-box {
        display: flex;
        align-items: baseline;
        width: 100%;
        direction: rtl; }
        body .container .row .withdraw-box .text-section .multiple-withdraw-box .col {
          display: flex; }
          body .container .row .withdraw-box .text-section .multiple-withdraw-box .col:first-child {
            justify-content: start; }
          body .container .row .withdraw-box .text-section .multiple-withdraw-box .col:last-child {
            justify-content: end; }
          body .container .row .withdraw-box .text-section .multiple-withdraw-box .col ul {
            text-align: left; }
            body .container .row .withdraw-box .text-section .multiple-withdraw-box .col ul li {
              margin: 20px auto; }
              body .container .row .withdraw-box .text-section .multiple-withdraw-box .col ul li button {
                background: no-repeat;
                border: none;
                color: #fff;
                font-size: 26px;
                direction: rtl; }
          body .container .row .withdraw-box .text-section .multiple-withdraw-box .col center span {
            font-size: 20px;
            color: #fff; }
          body .container .row .withdraw-box .text-section .multiple-withdraw-box .col center input {
            color: #fff;
            text-align: center; }
  body .container .row .card-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    width: 100%; }
    @media screen and (min-height: 600px) and (max-height: 620px) {
      body .container .row .card-box {
        height: 45vh; } }
    @media screen and (min-height: 621px) and (max-height: 680px) {
      body .container .row .card-box {
        height: 50vh; } }
    @media screen and (min-height: 681px) and (max-height: 750px) {
      body .container .row .card-box {
        height: 55vh; } }
    @media screen and (min-height: 751px) and (max-height: 768px) {
      body .container .row .card-box {
        height: 60vh; } }
    body .container .row .card-box .text-section {
      align-self: center; }
      body .container .row .card-box .text-section p {
        color: #fff;
        font-size: 40px;
        text-align: center; }
      body .container .row .card-box .text-section span {
        font-size: 32px;
        text-align: center;
        display: block;
        color: #fff; }
      body .container .row .card-box .text-section span.fs20 {
        font-size: 20px; }
      body .container .row .card-box .text-section .confirmed {
        margin-top: 40px; }
        body .container .row .card-box .text-section .confirmed span {
          font-size: 20px; }
      body .container .row .card-box .text-section .put {
        font-size: 30px; }
      body .container .row .card-box .text-section input {
        text-align: left;
        font-size: 24px;
        margin-top: 30px;
        color: #fff;
        text-align: center; }
        body .container .row .card-box .text-section input::-webkit-input-placeholder {
          color: #fff;
          font-size: 24px;
          text-align: center; }
        body .container .row .card-box .text-section input::-moz-placeholder {
          color: #fff;
          font-size: 24px;
          text-align: center; }
        body .container .row .card-box .text-section input:-ms-input-placeholder {
          color: #fff;
          font-size: 24px;
          text-align: center; }
        body .container .row .card-box .text-section input:-moz-placeholder {
          color: #fff;
          font-size: 24px;
          text-align: center; }
      body .container .row .card-box .text-section ul.services {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center; }
        body .container .row .card-box .text-section ul.services li {
          margin: 10px auto; }
          body .container .row .card-box .text-section ul.services li .button-wrap {
            margin-right: 25px; }
          body .container .row .card-box .text-section ul.services li .rad-button {
            white-space: nowrap;
            top: 0px;
            border-radius: 4px;
            position: relative;
            border: none;
            background: none;
            width: 200px;
            height: 50px;
            transition: 0.1s all ease;
            font-size: 16px;
            font-weight: 300;
            color: #777;
            border-bottom: 1px solid #ccc;
            box-shadow: 0px 0px 0px 0px #B8B8B8; }
            body .container .row .card-box .text-section ul.services li .rad-button.gradient {
              background: #f0f0f0;
              /* Old browsers */
              background: -moz-linear-gradient(top, #f0f0f0 0%, #e0e0e0 100%);
              /* FF3.6+ */
              background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f0f0f0), color-stop(100%, #e0e0e0));
              /* Chrome,Safari4+ */
              background: -webkit-linear-gradient(top, #f0f0f0 0%, #e0e0e0 100%);
              /* Chrome10+,Safari5.1+ */
              background: -o-linear-gradient(top, #f0f0f0 0%, #e0e0e0 100%);
              /* Opera 11.10+ */
              background: -ms-linear-gradient(top, #f0f0f0 0%, #e0e0e0 100%);
              /* IE10+ */
              background: linear-gradient(to bottom, #f0f0f0 0%, #e0e0e0 100%);
              /* W3C */
              filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#e0e0e0',GradientType=0 );
              /* IE6-9 */ }
              body .container .row .card-box .text-section ul.services li .rad-button.gradient:active {
                top: 0px;
                height: 50px;
                border: 1px solid #727272;
                background-color: #8e8e8e;
                box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.15); }
              body .container .row .card-box .text-section ul.services li .rad-button.gradient:focus {
                outline: 0; }
              body .container .row .card-box .text-section ul.services li .rad-button.gradient:active {
                top: 0px;
                height: 50px;
                border: 1px solid #ccc;
                background-color: #ededed;
                box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.15); }
    body .container .row .card-box .img-section {
      display: flex;
      justify-content: center; }
      body .container .row .card-box .img-section img {
        width: 40%; }
      body .container .row .card-box .img-section img.pin {
        width: 90%; }
  body .container .row .menu .center-box {
    display: flex;
    align-items: center; }
    body .container .row .menu .center-box span {
      font-size: 18px; }
    body .container .row .menu .center-box p {
      font-size: 18px;
      font-weight: bold; }
  body .container .row .table-scroll {
    height: 272px;
    overflow: auto;
    width: 100%; }
  body .container .row table.deposit-box thead tr th {
    color: #fff;
    font-size: 18px; }
  body .container .row table.deposit-box tbody tr:nth-child(2n+1) {
    background-color: rgba(0, 0, 0, 0.2); }
  body .container .row table.deposit-box tbody tr td {
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    position: relative; }
    body .container .row table.deposit-box tbody tr td i {
      color: #fff; }
    body .container .row table.deposit-box tbody tr td img {
      width: 29px;
      height: 19px;
      position: absolute;
      right: 25%; }
    body .container .row table.deposit-box tbody tr td:first-child {
      width: 20%;
      word-break: break-all; }
    body .container .row table.deposit-box tbody tr td:nth-child(2) {
      width: 50%;
      word-break: break-all; }
  body .container .row table.deposit-box tbody tr.total {
    background: #5c5c5c; }
    body .container .row table.deposit-box tbody tr.total td {
      direction: rtl; }
      body .container .row table.deposit-box tbody tr.total td span {
        color: #fff; }
  body .container .row .loader-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    width: 100%; }
  body .container .row .dots {
    display: inline-block;
    position: relative;
    vertical-align: middle; }
    body .container .row .dots:not(:last-child) {
      margin-right: 22.5px; }
    body .container .row .dots:before, body .container .row .dots:after {
      content: "";
      display: inline-block;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      position: absolute; }
    body .container .row .dots:nth-child(1):before {
      -webkit-transform: translateY(-200%);
      transform: translateY(-200%);
      -webkit-animation: animBefore 1s linear infinite;
      animation: animBefore 1s linear infinite;
      -webkit-animation-delay: -0.9s;
      animation-delay: -0.9s;
      background-color: #F00; }
    body .container .row .dots:nth-child(1):after {
      -webkit-transform: translateY(200%);
      transform: translateY(200%);
      -webkit-animation: animAfter 1s linear infinite;
      animation: animAfter 1s linear infinite;
      -webkit-animation-delay: -0.9s;
      animation-delay: -0.9s;
      background-color: #777; }
    body .container .row .dots:nth-child(2):before {
      -webkit-transform: translateY(-200%);
      transform: translateY(-200%);
      -webkit-animation: animBefore 1s linear infinite;
      animation: animBefore 1s linear infinite;
      -webkit-animation-delay: -1.8s;
      animation-delay: -1.8s;
      background-color: #F00; }
    body .container .row .dots:nth-child(2):after {
      -webkit-transform: translateY(200%);
      transform: translateY(200%);
      -webkit-animation: animAfter 1s linear infinite;
      animation: animAfter 1s linear infinite;
      -webkit-animation-delay: -1.8s;
      animation-delay: -1.8s;
      background-color: #777; }
    body .container .row .dots:nth-child(3):before {
      -webkit-transform: translateY(-200%);
      transform: translateY(-200%);
      -webkit-animation: animBefore 1s linear infinite;
      animation: animBefore 1s linear infinite;
      -webkit-animation-delay: -2.7s;
      animation-delay: -2.7s;
      background-color: #F00; }
    body .container .row .dots:nth-child(3):after {
      -webkit-transform: translateY(200%);
      transform: translateY(200%);
      -webkit-animation: animAfter 1s linear infinite;
      animation: animAfter 1s linear infinite;
      -webkit-animation-delay: -2.7s;
      animation-delay: -2.7s;
      background-color: #777; }
    body .container .row .dots:nth-child(4):before {
      -webkit-transform: translateY(-200%);
      transform: translateY(-200%);
      -webkit-animation: animBefore 1s linear infinite;
      animation: animBefore 1s linear infinite;
      -webkit-animation-delay: -3.6s;
      animation-delay: -3.6s;
      background-color: #F00; }
    body .container .row .dots:nth-child(4):after {
      -webkit-transform: translateY(200%);
      transform: translateY(200%);
      -webkit-animation: animAfter 1s linear infinite;
      animation: animAfter 1s linear infinite;
      -webkit-animation-delay: -3.6s;
      animation-delay: -3.6s;
      background-color: #777; }
    body .container .row .dots:nth-child(5):before {
      -webkit-transform: translateY(-200%);
      transform: translateY(-200%);
      -webkit-animation: animBefore 1s linear infinite;
      animation: animBefore 1s linear infinite;
      -webkit-animation-delay: -4.5s;
      animation-delay: -4.5s;
      background-color: #F00; }
    body .container .row .dots:nth-child(5):after {
      -webkit-transform: translateY(200%);
      transform: translateY(200%);
      -webkit-animation: animAfter 1s linear infinite;
      animation: animAfter 1s linear infinite;
      -webkit-animation-delay: -4.5s;
      animation-delay: -4.5s;
      background-color: #777; }
    body .container .row .dots:nth-child(6):before {
      -webkit-transform: translateY(-200%);
      transform: translateY(-200%);
      -webkit-animation: animBefore 1s linear infinite;
      animation: animBefore 1s linear infinite;
      -webkit-animation-delay: -5.4s;
      animation-delay: -5.4s;
      background-color: #F00; }
    body .container .row .dots:nth-child(6):after {
      -webkit-transform: translateY(200%);
      transform: translateY(200%);
      -webkit-animation: animAfter 1s linear infinite;
      animation: animAfter 1s linear infinite;
      -webkit-animation-delay: -5.4s;
      animation-delay: -5.4s;
      background-color: #777; }
    body .container .row .dots:nth-child(7):before {
      -webkit-transform: translateY(-200%);
      transform: translateY(-200%);
      -webkit-animation: animBefore 1s linear infinite;
      animation: animBefore 1s linear infinite;
      -webkit-animation-delay: -6.3s;
      animation-delay: -6.3s;
      background-color: #F00; }
    body .container .row .dots:nth-child(7):after {
      -webkit-transform: translateY(200%);
      transform: translateY(200%);
      -webkit-animation: animAfter 1s linear infinite;
      animation: animAfter 1s linear infinite;
      -webkit-animation-delay: -6.3s;
      animation-delay: -6.3s;
      background-color: #777; }
    body .container .row .dots:nth-child(8):before {
      -webkit-transform: translateY(-200%);
      transform: translateY(-200%);
      -webkit-animation: animBefore 1s linear infinite;
      animation: animBefore 1s linear infinite;
      -webkit-animation-delay: -7.2s;
      animation-delay: -7.2s;
      background-color: #F00; }
    body .container .row .dots:nth-child(8):after {
      -webkit-transform: translateY(200%);
      transform: translateY(200%);
      -webkit-animation: animAfter 1s linear infinite;
      animation: animAfter 1s linear infinite;
      -webkit-animation-delay: -7.2s;
      animation-delay: -7.2s;
      background-color: #777; }
    body .container .row .dots:nth-child(9):before {
      -webkit-transform: translateY(-200%);
      transform: translateY(-200%);
      -webkit-animation: animBefore 1s linear infinite;
      animation: animBefore 1s linear infinite;
      -webkit-animation-delay: -8.1s;
      animation-delay: -8.1s;
      background-color: #F00; }
    body .container .row .dots:nth-child(9):after {
      -webkit-transform: translateY(200%);
      transform: translateY(200%);
      -webkit-animation: animAfter 1s linear infinite;
      animation: animAfter 1s linear infinite;
      -webkit-animation-delay: -8.1s;
      animation-delay: -8.1s;
      background-color: #777; }
    body .container .row .dots:nth-child(10):before {
      -webkit-transform: translateY(-200%);
      transform: translateY(-200%);
      -webkit-animation: animBefore 1s linear infinite;
      animation: animBefore 1s linear infinite;
      -webkit-animation-delay: -9s;
      animation-delay: -9s;
      background-color: #F00; }
    body .container .row .dots:nth-child(10):after {
      -webkit-transform: translateY(200%);
      transform: translateY(200%);
      -webkit-animation: animAfter 1s linear infinite;
      animation: animAfter 1s linear infinite;
      -webkit-animation-delay: -9s;
      animation-delay: -9s;
      background-color: #777; }

@-webkit-keyframes animBefore {
  0% {
    -webkit-transform: scale(1) translateY(-200%);
    z-index: 1; }
  25% {
    -webkit-transform: scale(1.3) translateY(0);
    z-index: 1; }
  50% {
    -webkit-transform: scale(1) translateY(200%);
    z-index: -1; }
  75% {
    -webkit-transform: scale(0.7) translateY(0);
    z-index: -1; }
  100% {
    -webkit-transform: scale(1) translateY(-200%);
    z-index: -1; } }

@keyframes animBefore {
  0% {
    transform: scale(1) translateY(-200%);
    z-index: 1; }
  25% {
    transform: scale(1.3) translateY(0);
    z-index: 1; }
  50% {
    transform: scale(1) translateY(200%);
    z-index: -1; }
  75% {
    transform: scale(0.7) translateY(0);
    z-index: -1; }
  100% {
    transform: scale(1) translateY(-200%);
    z-index: -1; } }

@-webkit-keyframes animAfter {
  0% {
    -webkit-transform: scale(1) translateY(200%);
    z-index: -1; }
  25% {
    -webkit-transform: scale(0.7) translateY(0);
    z-index: -1; }
  50% {
    -webkit-transform: scale(1) translateY(-200%);
    z-index: 1; }
  75% {
    -webkit-transform: scale(1.3) translateY(0);
    z-index: 1; }
  100% {
    -webkit-transform: scale(1) translateY(200%);
    z-index: 1; } }

@keyframes animAfter {
  0% {
    transform: scale(1) translateY(200%);
    z-index: -1; }
  25% {
    transform: scale(0.7) translateY(0);
    z-index: -1; }
  50% {
    transform: scale(1) translateY(-200%);
    z-index: 1; }
  75% {
    transform: scale(1.3) translateY(0);
    z-index: 1; }
  100% {
    transform: scale(1) translateY(200%);
    z-index: 1; } }
